<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Repas{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {# CSS #}
        <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {# CSS Custom #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "@Shared/_navbar.html.twig" %}
        <div class="container" style=" padding-top: 5rem;">
            {% block body %}{% endblock %}
        </div>
        {# javascript #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ javascripts_dir ~ "ajax.js" }}"></script>
        <script src="{{ javascripts_dir ~ "mobile.js" }}"></script>
        {# javascript custom #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
