{% set active = "admin" %}
{% extends '@Shared/base.html.twig' %}

{% block title %}
    Rayons
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Rayons</li>
    </ol>

    <table class="table table-sm">
        {# Nouveau rayon #}
        <thead>
            <th scope="col">Rayons</th>
            <th>
                <a
                    type="button"
                    class="btn btn-success btn-sm float-end me-1"
                    href="{{ path('view_admin_department_create') }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </th>
        </thead>

        {# Rayons existants #}
        {% for department in departments %}
            {% include "@Repas/Department/_admin_department_row.html.twig" %}
        {% endfor %}
    </table>
{% endblock %}
