{% set active = "department" %}
{% extends '@Shared/base.html.twig' %}

{% block title %}
    Rayon : {{ department.name }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path("view_departments") }}">Rayon</a></li>
        <li class="breadcrumb-item active">{{ department.name|capitalize }}</li>
    </ol>

    <ul class="list-group">
        {% for ingredient in ingredients %}
            {% include('@Repas/Department/_ingredient_row.html.twig') %}
        {% endfor %}
        <a class="list-group-item d-flex justify-content-between align-items-center active" href="{{ path("view_ingredient_create") }}" alt="bouton ajouter">
            Ajouter un ingredient
        </a>
    </ul>
{% endblock %}
