{% set active = "recipe" %}
{% extends '@Shared/base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <div class="row">
        {% for recipeType in recipeTypes %}
            {% include "@Repas/Recipe/_recipe_type_card.html.twig" %}
        {% endfor %}
        {% include "@Repas/Recipe/_recipe_type_card.html.twig" %}
    </div>
{% endblock %}
