{% set active = "recipe" %}
{% extends '@Shared/base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path("view_recipes") }}">Recettes</a></li>
        <li class="breadcrumb-item active">{{ recipeType.name|capitalize }}</li>
    </ol>

    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action active">
                    {{ recipeType.name|capitalize }}
                </li>
                {% for recipe in recipes %}
                    {% include "@Repas/Recipe/_recipe_row.html.twig" %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
