<div class="form-check form-switch float-end" id="shoppingListActions">
    {% if shoppingList.isPlanning %}
        <button
            data-action="btn-ajax"
            data-url="{{ path("view_shopping_list_shopping", {"id" : shoppingList.id}) }}"
            type="button"
            class="btn btn-success"
        >Je suis prêt.e pour les courses !</button>
    {% endif %}
    {% if shoppingList.isShopping %}
        <button
            data-action="btn-ajax"
            data-url="{{ path("view_shopping_list_planning", {"id" : shoppingList.id}) }}"
            type="button"
            class="btn btn-secondary"
        >J'ai oublié un repas !</button>
    {% endif %}
</div>
