<tr id="unit-{{ unit.id }}">
    <td>{{ unit.name|capitalize }}</td>
    <td>{{ unit.symbol }}</td>
    <td>
        <a
            type="button"
            class="btn btn-danger btn-sm float-end me-1"
            href="#">
            <i class="fas fa-trash"></i>
        </a>
        <a
            type="button"
            class="btn btn-secondary btn-sm float-end me-1"
            href="{{ path("view_admin_unit_update", {slug: unit.slug}) }}">
            <i class="fas fa-pen"></i>
        </a>
    </td>
</tr>
